<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-2" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - CLINICA CARMELO</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/5776/5776743.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProyectoDSP.styles.css" asp-append-version="true" />
</head>

<body>
    <div class="container ">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light   box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CLÍNICA CARMELO</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav ms-auto mb-2mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Conócenos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Nuestros Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Contáctanos</a>
                        </li>
                        
                    </ul>
                </div>
                    <div class="form-group">
                    </div>
                    <div class="text-dark">
                        <a asp-action="Registro">Registro de Usuarios</a>
                    </div>
            </div>
        </nav>
    </header>
    </div>

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators ">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <center><img src="https://www.businessempresarial.com.pe/wp-content/uploads/2022/02/Auna-amplia-su-red-de-Clinicas-con-inauguracion-de-nueva-sede-en-Colombia-Imagen-4.jpeg" class="d-block w-50"></center>
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
            <div class="carousel-item">
                <center><img src="https://jnj-content-lab.brightspotcdn.com/02/41/0883c99a4fb2830cf099ffce501b/lede-clinical-trials-reserchers.v2.jpg" class="d-block w-50"></center>
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
            <div class="carousel-item">
                <center><img src="https://cms-img.auna.org/t_img_centrodeexcelencia_db9911b7ae.webp" class="d-block w-50"></center>
                <div class="carousel-caption d-none d-md-block">                
               </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
  

   <div class="container mt-5">
       
       <div class="row mt-5">
           <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/256/387/387561.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">DR.Fabrizio</h5>
                        <p class="card-text">El mejor en medicinal general, especializado en la Universidad no se </p>
                    </div>
                </div>
           </div>
           <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/256/3304/3304567.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">DR.Fabrizio</h5>
                        <p class="card-text">El mejor en medicinal general, especializado en la Universidad no se </p>
                    </div>
                </div>
           </div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://www.doctorksa.com/img/medical_job.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">DR.Fabrizio</h5>
                        <p class="card-text">El mejor en medicinal general, especializado en la Universidad no se </p>
                    </div>
                </div>
            </div>
       </div>
   </div>

    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item mt-5">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    ¿Cuanto cuesta cada servicio?
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <strong>Depende de nosotros :)</strong>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    ¿Cómo me registro por primerra vez?
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <strong>Vaya a Login</strong>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    ¿Còmo saco cita?
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                 data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <strong>Eso nos falta</strong>
                </div>
            </div>
        </div>
    </div>
       
      

    <div class="container">
        <main role="main" class="pb-2">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - CLÍNICA CARMELO - 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
